<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!--/*/ <th:block th:include="fragments/form.html :: head">
        </th:block> /*/-->
<link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>
	<div class="app header-success side-nav-dark">
		<div class="layout">
			<!-- Header START -->
			<div class="header navbar"
				th:replace="fragments/index.html :: header-navbar"></div>
			<!-- Header END -->

			<!-- Side Nav START -->
			<div class="side-nav expand-lg"
				th:replace="fragments/index.html :: side-nav('Master Data', 'cuti')"></div>
			<!-- Side Nav END -->

			<!-- Page Container START -->
			<div class="page-container">
				<!-- Quick View START -->
				<!-- Side Panel END -->

				<!-- Content Wrapper START -->
				<div class="main-content">
					<div class="container-fluid">
						<div class="page-header">
							<h2 class="header-title">Master Data</h2>
							<div class="header-sub-title">
								<nav class="breadcrumb breadcrumb-dash">
									<a th:href="@{/}" class="breadcrumb-item"><i
										class="ti-home p-r-5"></i>Home</a> <a class="breadcrumb-item"
										th:href="@{/cuti}">Cuti</a> <span
										class="breadcrumb-item active">Edit Cuti</span>
								</nav>
							</div>
						</div>

						<div class="card">
							<div class="card-header border bottom">
								<h4 class="card-title">Edit Cuti</h4>
							</div>
							<div class="card-body">
								<div class="row">


									<div class="col-sm-8 offset-sm-2">


										<form role="form" id="form-validation" novalidate="novalidate"
											th:action="@{/cuti/{id}/edit(id = ${cutiRequestEditDto.id})}"
											th:object="${cutiRequestEditDto}" method="post">

											<div class="form-row">

												<div class="form-group col-md-6">
													<label class="control-label">Tipe dan Periode</label> 
													<p style="color:white;background-color: #04a1f4; padding: 8px" th:text="${cutiRequestEditDto.typeAndYear}"></p>
												</div>


												<div class="form-group col-md-6">
													<label class="control-label">Cuti Tahunan (Hari)</label> <input
														style="padding: 5px" type="number" class="form-control"
														th:field="*{jumlahCutiTahunan}"> <label
														id="inputRequired-error" class="error" for="inputRequired"
														th:each="error: ${#fields.errors('jumlahCutiTahunan')}"
														th:text="${error}">Error</label>
												</div>

												<div class="form-group col-md-4" style="display: none;">
													<label class="control-label">Type</label> <select
														class="form-control" th:field="*{type}">
														<option value="Tetap">Tetap</option>
														<option value="Kontrak">Kontrak</option>
														<option value="Outsourching">Outsourching</option>
													</select> <label id="inputRequired-error" class="error"
														for="inputRequired"
														th:each="error: ${#fields.errors('type')}"
														th:text="${error}">Error</label>
												</div>

												<div class="form-group col-md-4" style="display: none;">
													<label class="control-label">Tahun</label> <select
														class="form-control" th:field="*{tahun}">
														<option value="2019">2019</option>
														<option value="2021">2021</option>
														<option value="2022">2022</option>
														<option value="2023">2023</option>
														<option value="2024">2024</option>
														<option value="2025">2025</option>
														<option value="2026">2026</option>
													</select> <label id="inputRequired-error" class="error"
														for="inputRequired"
														th:each="error: ${#fields.errors('tahun')}"
														th:text="${error}">Error</label>
												</div>
											</div>

											<br /> <br />
											<div class="form-row">
												<div class="col-sm-6">
													<div class="form-group" style="display: none;">
														<div class="checkbox">
															<input id="formRowCheckbox1" type="checkbox"> <label
																for="formRowCheckbox1">I agree to the <a href="">Term
																	&amp; Conditions</a></label>
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="text-sm-right">
														<button class="btn btn-gradient-success">Simpan</button>
													</div>
												</div>
											</div>

										</form>

									</div>


								</div>
							</div>
						</div>
					</div>
					<!-- Content Wrapper END -->

					<!-- Footer START -->
					<footer class="content-footer"
						th:replace="fragments/index.html :: content-footer"> </footer>
					<!-- Footer END -->

				</div>
				<!-- Page Container END -->

			</div>
		</div>

		<!--/*/ <th:block th:include="fragments/form.html :: assets-js">
        </th:block> /*/-->
		<script type="text/javascript">
			$('#tanggalLahir').datepicker({
				format : 'dd/mm/yyyy',
			});
			$('#tanggalMasuk').datepicker({
				format : 'dd/mm/yyyy',
			});
		</script>
</body>

</html>