<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!--/*/ <th:block th:include="fragments/form.html :: head">
        </th:block> /*/-->
<link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>
	<div class="app header-success side-nav-dark">
		<div class="layout">
			<!-- Header START -->
			<div class="header navbar"
				th:replace="fragments/index.html :: header-navbar"></div>
			<!-- Header END -->

			<!-- Side Nav START -->
			<div class="side-nav expand-lg"
				th:replace="fragments/index.html :: side-nav('Pengajuan Cuti', 'pengajuanCuti')"></div>
			<!-- Side Nav END -->

			<!-- Page Container START -->
			<div class="page-container">
				<!-- Quick View START -->
				<!-- Side Panel END -->

				<!-- Content Wrapper START -->
				<div class="main-content">
					<div class="container-fluid">
						<div class="page-header">
							<h2 class="header-title">Pengajuan Cuti</h2>
							<div class="header-sub-title">
								<div sec:authorize="hasRole('ROLE_HR')">
									<nav class="breadcrumb breadcrumb-dash">
										<a th:href="@{/}" class="breadcrumb-item"><i
											class="ti-home p-r-5"></i>Home</a> <a class="breadcrumb-item"
											th:href="@{/pengajuan-cuti}">Pengajuan Cuti</a> <span
											class="breadcrumb-item active">Ajukan Cuti</span>
									</nav>
								</div>

							</div>
						</div>

						<div class="card">
							<div class="card-header border bottom">
								<h4 class="card-title">Ajukan Cuti</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div th:if="${!#strings.isEmpty(message)}" class="alert alert-info alert-dismissible fade show">
										<strong>Informasi</strong> <span th:text="${message}"></span>
										&nbsp;&nbsp;&nbsp;
										<button type="button" class="close" data-dismiss="alert"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>

									<div class="col-sm-8 offset-sm-2">

										<div th:if="${#strings.isEmpty(message)}">
											<form role="form" id="form-validation"
												novalidate="novalidate" th:action="@{/pengajuan-cuti/add}"
												th:object="${pengajuanCutiRequestAddDto}" method="post"
												enctype="multipart/form-data">

												<div class="form-group">
													<label class="control-label">Judul</label> <input
														type="text" class="form-control" th:field="*{title}">
													<label id="inputRequired-error" class="error"
														for="inputRequired"
														th:each="error: ${#fields.errors('title')}"
														th:text="${error}">Error</label>
												</div>

												<div class="form-group">
													<label class="control-label">Keterangan</label>
													<textarea class="form-control"
														id="exampleFormControlTextarea1" rows="3"
														th:field="*{body}"></textarea>

													<label id="inputRequired-error" class="error"
														for="inputRequired"
														th:each="error: ${#fields.errors('body')}"
														th:text="${error}">Error</label>
												</div>


												<div class="form-group">
													<label class="control-label">Surat Izin</label> <input
														type="file" class="form-control" th:field="*{file}">
													<label id="inputRequired-error" class="error"
														for="inputRequired"
														th:each="error: ${#fields.errors('file')}"
														th:text="${error}">Error</label>
												</div>

												<div class="form-group">
													<label class="control-label">Tanggal Cuti</label>
													<div class="input-group input-daterange">
														<input type="text" class="form-control"
															th:field="*{formatStartDate}">
														<div class="input-group-addon">&nbsp;&nbsp; sampai
															&nbsp;&nbsp;</div>
														<input type="text" class="form-control"
															th:field="*{formatEndDate}">
													</div>
													<label id="inputRequired-error" class="error"
														for="inputRequired"
														th:each="error: ${#fields.errors('formatStartDate')}"
														th:text="${error}">Error</label> <label
														id="inputRequired-error" class="error" for="inputRequired"
														th:each="error: ${#fields.errors('formatEndDate')}"
														th:text="${error}">Error</label>
												</div>

												<br /> <br />
												<div class="form-row">
													<div class="col-sm-6">
														<div class="form-group" style="display: none;">
															<div class="checkbox">
																<input id="formRowCheckbox1" type="checkbox"> <label
																	for="formRowCheckbox1">I agree to the <a
																	href="">Term &amp; Conditions</a></label>
															</div>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="text-sm-right">
															<button class="btn btn-gradient-success">Simpan</button>
														</div>
													</div>
												</div>
											</form>

										</div>

									</div>


								</div>
							</div>
						</div>
					</div>
					<!-- Content Wrapper END -->

					<!-- Footer START -->
					<footer class="content-footer"
						th:replace="fragments/index.html :: content-footer"> </footer>
					<!-- Footer END -->

				</div>
				<!-- Page Container END -->

			</div>
		</div>

		<!--/*/ <th:block th:include="fragments/form.html :: assets-js">
        </th:block> /*/-->
		<script type="text/javascript">
			$('.format-date').datepicker({
				format : 'dd/mm/yyyy',
			});
		</script>
</body>

</html>