<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/form.html :: head">
        </th:block> /*/-->
</head>

<body>
	<div class="app">
		<div class="layout">
			<div class="container">
				<div class="row full-height align-items-center">
					<div class="col-12">
						<div class="text-center p-t-50">
							<h1
								class="font-size-170 text-secondary font-weight-light text-opacity ls-2">404</h1>
							<h2 class="font-weight-light font-size-30">Whoops! Looks
								like you got lost</h2>
							<p class="lead">We couldnt find what you were looking for.</p>
						</div>
					</div>
					<div class="col-12 align-self-end ">
						<div class="text-center p-b-20 font-size-13">
							<span>Copyright © 2020 <b class="text-dark">AppCut</b>.
								All rights reserved.
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--/*/ <th:block th:include="fragments/form.html :: assets-js">
        </th:block> /*/-->

</body>

</html>